body{
    background-color: rgb(255, 255, 255);
    width: 100vw;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 5%;
}

.options{
    display: flex;
    gap: 7.5%;
}

a:hover{
    background-color: rgb(116, 0, 87);
    height: max-content;
    width: max-content;
    padding: 4px;
    border-radius: 2px;
    color: white;
}